.team {
  text-align: center;
  padding: 50px;
}

.team h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-member {
  background: rgba(0, 0, 0, 0.7); /* Saydam siyah arkaplan */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Daha yumuşak gölge */
  padding: 20px;
  text-align: center;
  width: 250px; /* Genişliği artırdık */
  color: white; /* Yazı rengini beyaz yapıyoruz */
}

.team-member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #fff; /* Resmin çevresine beyaz bir çerçeve */
}

.team-member h3 {
  font-size: 18px;
  color: white; /* İsimler beyaz */
}

.team-member p {
  font-size: 14px;
  color: #ccc; /* Daha açık bir gri ton */
  margin: 5px 0;
}

